/* Wallust generated overrides for Sweet/GTK3 */
@define-color selected_bg_color #C7FF46;
@define-color selected_fg_color #15141A;
@define-color accent_color #C7FF46;
@define-color accent_bg_color #C7FF46;

/* Sweet specific highlight overrides */
@define-color titlebar_bg_color #15141A;
@define-color titlebar_fg_color #EBFFBE;
@define-color tooltip_bg_color #15141A;
@define-color tooltip_fg_color #EBFFBE;

/* This handles the 'Sweet' neon glow effect */
@define-color borders #C7FF46;
